<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.mapper">

<select id="board_reply_list" resultType="android.chaminhwan.ReplyVO">
select reply.* , (select picture.picture_filepath from tbl_board_picture picture where picture.member_id = reply.member_id) piciture_filepath
from tbl_reply reply where board_sn = #{paramSn}

</select>

</mapper>