<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="party.mapper">

<!-- <select id="noticelist" resultType="android.mainburger.MainBurgerNoticeVO">
select board_sn, board_title, board_content from tbl_board where board_class = 'notice'
</select>

<select id="notice_detail" resultType="android.mainburger.MainBurgerNoticeVO">
select * from tbl_board where board_sn = #{paramSn}
</select>

<select id="selectThisVs" resultType="android.mainburger.OneOneEmailVO">
select * from tbl_board where member_id=#{name, jdbcType=VARCHAR}} and board_title=#{title} and board_content = #{content}
</select> -->


<!-- @@ 파티 추가 연습 (파티 sn, 멤버(기본키라 임시), 사진, 빠짐)  -->
<insert id="insertParty">	
	
	insert into tbl_party (party_sn, member_id, party_private, party_name, party_detail, party_tag1, party_tag2, party_tag3, party_leader )
	values( seq_party_sn.nextval, #{member_id}, #{party_private, jdbcType=VARCHAR}, #{party_name, jdbcType=VARCHAR}, #{party_detail}, #{party_tag1}, #{party_tag2}, #{party_tag3}, #{party_leader}  )	
	
</insert>

<select id="selectMypartyList" resultType="android.partyvo.PartyListVO">

	select * from tbl_party where member_id = #{member_id}
	
</select>

<select id="selectOpenpartyList" resultType="android.partyvo.PartyListVO">

	select * from tbl_party where party_private = 'y'
	
</select>


<select id="selectPartyDetail" resultType="android.partyvo.PartyListVO">

	select * from tbl_party where party_sn = #{party_sn}
	
</select>

<insert id="insertJoinparty">	
	
	insert into tbl_party 
	values( #{party_sn}, #{member_id}, #{party_private, jdbcType=VARCHAR}, #{party_name, jdbcType=VARCHAR}, #{party_detail, jdbcType=VARCHAR}, #{party_tag1,jdbcType=VARCHAR}, #{party_tag2,jdbcType=VARCHAR}, #{party_tag3,jdbcType=VARCHAR}, #{party_leader, jdbcType=VARCHAR}  )	
	
</insert>



</mapper>