<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="picture.mapper">

	<update id="insert_picture_board" parameterType="java.util.List">
		<!-- <foreach collection="list" item="list" open="INSERT ALL" close="SELECT 
			* FROM DUAL" separator=" "> -->
		DECLARE
			V_BOARD_SN number ;
		BEGIN
			SELECT SEQ_BOARD_SN.nextval INTO V_BOARD_SN from DUAL;
				INSERT ALL
				INTO tbl_board (board_sn, board_title, board_content, board_class, member_id)
				VALUES( V_BOARD_SN ,#{ board_title}, #{ board_content}, #{ board_class }, #{ member_id} )
	
			<foreach collection="picList" item="picList" index="index">
				INTO tbl_board_picture (board_sn,picture_filepath )
				VALUES(V_BOARD_SN,#{ picList.picture_filepath} )
			</foreach>
			SELECT *
			FROM dual ;
	
	
		END;
		<!-- </foreach> -->
	</update>


	<select id="detail_pic_list" resultType="picture.PictureVO">
		select * from tbl_board_picture where board_sn = #{board_sn}
	</select>
</mapper>