<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>EMCC</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="images/favicon.png" />
	<script src="https://raw.github.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js"></script>
	<link rel="stylesheet" href="css/style.css" />	
</head>


<body>
	<h1 class="blind">EMCC - 물</h1>
	<div class="vp-wrap">
		<div class = "menu"> 
			<ul>
				<li>
					<img src="images/btn_close.png" alt=""id= "btn_close" />
				</li>
				<li>
					<img src="images/gnb_logo.png" alt="" />
				</li>
				<li>
					<p><a href="">로그인</a></p>
					<p><a href="">회원가입</a></p>
				</li>
				<li>
					<pm><a href="">물관리 자동화 시스템</a></pm>
					<pm><a href="">생산제품</a></pm>
					<pm><a href="">고객센터</a></pm>
					<pm><a href="">이미그룹소개</a></pm>
				</li>
			</ul>
		</div>
	</div>
	
	<header>
	<div class="header-wrap">
			<div class = header-main>
				<div id="logo">
					<a href="#">
						<img src="images/logo.png" alt="tmcc logo">
					</a>
				</div>
					<a href="#">
						<img src="images/btn_menu.png" alt="tmcc logo"id="btn_menu">
					</a>
			</div>
			<div class = "header-sub">
				<img src="images/slogan.png" alt="" />
			</div>
		</div>
	</header>
	<section id = "main">
		<h2 class = "blind">EMCC 소개</h2>
		<div class="articles">
			<article id = "article-top">
				<div class="article-titles">
					<span><h3 class = "article-title">물관리 시스템</h3></span>
					<h4 class = "article-top-subtitle">water management system</h4>
				</div>
				<div class="benefit-wrap">
					<ul class="benefit">
						<li>
							<img src="images/system_img1.jpg" alt="" class = "benefit-img" />
							<img src="images/system_over1.png" alt="" class = "hover-text"/>
						</li>
						<li>
							<img src="images/system_img2.jpg" alt="" class = "benefit-img"/>
							<img src="images/system_over2.png" alt="" class = "hover-text"/>
						</li>
						<li>
							<img src="images/system_img3.jpg" alt="" class = "benefit-img"/>
							<img src="images/system_over3.png" alt="" class = "hover-text" />
						</li>
					</ul>
				</div>
			</article>
		</div>
		<div class="articles">
			<article id = "article-bottom">
				<div class="article-titles">
					<span><h3 class = "article-title">생산제품</h3></span>
					<h4 class = "article-bottom-subtitle">2015년 신제품 지능형 <span>텔레모스 시스템</span></h4>
				</div>
				<ul>
					<li><img src="images/product.png" alt="" /></li>
					<a href="#"><span class = "moreBTN">자세히보기</span></a>
				</ul>
			</article>
		</div>
	</section>
	<aside>
		<h2 class="blind">EMCC 어사이드</h2>
		<div class="aside-wrap">
			<ul class = "aside-top">
				<div class="aside-top-object">
					<div class="aside-top-title">
						<li>
							<h3>(주) 이미그룹</h3>
							<p>사람과 자연 모두가 행복한 세상</p>
							<p2>이미가 만들어 가고자 하는 미래 입니다.</p2>
						</li>
					</div>
					<li>
						<img src="images/company.png" alt="" />
					</li>
				</div>
			</ul>
			<div class="aside-bottom-wrap">
				<ul class="aside-bottom">
					<div class = "cs-center">
						<a href="tel:062-670-0300"> <p> 062) 670 - 0300 </p> </a>
					</div>
					<li>
						<a href="#"><img src="images/btn_top.gif" alt="" id = "btn_top"/></a>
					</li>
				</ul>
			</div>
		</div>		
	</aside>
	<footer>
			<div class="footer-wrap">
				<div class = "logo0footer">
					<a href="#">
						<img src="images/footer_logo.png" alt="" />
					</a>	
				</div>
					<address>
						<p>(주) 이미그룹    대표이사 : 이미    본사 : 광주광역시 서구 쌍촌동 한울직업전문학교 4층 403호    연구소 : 광주광역시 서구 쌍촌동 한울직업전문학교 4층 403호 왼쪽 3번째줄 창가 2번째 자리</p>	
						<p>고객센터 : 062-1234-5678      팩스 : 062-1234-5679      이메일 : already@hanmail.net</p>	
					</address>
					<div class = "owner-info">COPYRIGHT(C)  2012 DAEYOUNG.CO.LTD ALL RIGHTS RESERVED.</div>
			</div>
	</footer>
	<script src="script/main.js"></script>	
</body>





</html>


