@charset "UTF-8";




/* 디자인은 버렸습니다 죄송합니다 ㅜㅜ  */
body{
	font-family: "Noto Sans KR", sans-serif;
	
}

a, a:link {
	color: #fa8072;
	text-decoration: none;
}

.main {
	color: #000;
	background: url('../images/bgbb.jpg') ;	
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 20px;
	height: 100%;
	width: 100%;
} 
.list-book{
	background: url('../images/fatbb.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	
}

.section{	
	padding: 280px;	
}

h3{
	margin-bottom: 30px;
	text-align: center;
}

.bg{
	background: url('https://mblogthumb-phinf.pstatic.net/MjAyMDAyMjFfMTkg/MDAxNTgyMjc5MDc1ODk4.Rzu_W3J2MkMQY-9-XB-p-dHmEBsB14FszWgo6OcD7HYg.Dbed6kNXtZbUW4dWitnDblhLvAzUPkW1QRrMGacYOM0g.GIF.slpooda/original.gif?type=w800');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
}

.uwrap{
	position: relative;
	background: url('https://lh3.googleusercontent.com/proxy/711eIHvpxDdsxXJ-kF1kQiYXrbtuMRbp8xFMj1zAcyYHWB_9O2kx7JjVDs-TnRJT9UESzLnP2awkCfOpQkFbkbr967ppL6Bx_nacGkgT4Vu2gJ9-qNnD6Sukfcpr7ft_nR4P0cW_alXLkWm4SnUiszK5973o2LPRSBTkbA');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	align-items: center;
	
}
.uwrap2{
	position: relative;
	background: url('https://img.chuing.net/i/QVVHVHN/1566732976.gif');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	align-items: center;	
}
.uwrap3{
	position: relative;
	background: url('https://t1.daumcdn.net/cfile/tistory/99F60E445D5F908504');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	align-items: center;	
}
.uwrap4{
	position: relative;
	background: url('https://item.kakaocdn.net/do/670667b39b8e8c1a7e245261a83bf9aef43ad912ad8dd55b04db6a64cddaf76d');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	align-items: center;	
}
.uwrap5{
	position: absolute;
	background: url('https://4.bp.blogspot.com/-afyyIa9BMbM/WDv-bjIekoI/AAAAAAAEULw/mr4mLfzL4pg4TNaDSpAiJtXWxGCe4n3FwCLcB/s1600/AS001689_10.gif');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%; 
	align-items: center;	
}


.iwrap{
	position: relative;
	background: url('../images/bgbb2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	align-items: center;	
	
}
.lwrap {
	position: absolute;
	margin: 20% 40%;
	font-size: 30px;
}
.lwrap2 {
	/* color: red; */
	position: absolute;
	margin: 30% 20%;
	font-size: 30px;
}

.flist{
	padding-top: 10px;
}













